body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}
.row{
    background-color: #444547;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:10px;
}
.row img{
    max-height: 70px;
}
.row a{
    text-decoration: none;
    color: white;
}
.row li{
    list-style-type: none; 
    padding: 2px;
    font-size: 20px;
}
.row2{
    display: flex;
    justify-content: center;
}
.nav-menu-horizontal{
    overflow-y:hidden;
    max-height: 20px;
    transition: 0.4s;
    transform: scale(1.0);
    padding: 0;
    
}
.menu{
    color: #D1004C;
    font-size: 65px;
}
.nav-menu-horizontal:hover,.menu:hover{
    max-height: 225px;
    overflow-y:hidden;
    transition: all 0.6s ease;
    color:#444547;
}
.container-form{
    padding: 15px;
    background-color: #444547;
}
.nav-menu-horizontal button{
    background: #e1e1e2;
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    height: 22px;
    color: #1a1919;
}
.nav-menu-horizontal input{
    max-width: 8em;
}